@model List<Milestone.Models.CellModel>

<style>
    .game-button {
        width: 85px;
        border: none;
    }

    .game-button-image {
        width: 85px;
    }

    .button-zone {
        display: flex;
        flex-wrap: wrap;
    }

    .line-break {
        flex-basis: 100%;
        height: 0;
    }

    .button-label {
        font-size: 8px;
        text-align: center;
    }
</style>

@{
    //Add image names for game pieces here!
    string[] gamePieces = { "", "", "" };
}

<div class="cell-zone" style="background-image: url('~\Images\field.png')">
    @using (@Html.BeginForm("HandleLeftClick", "GameController"))
    {

        for (int i = 0; i < Model.Count(); i++)
        {
            if (i % 6 == 0)
            {
                <div class="line-break"></div>
            }

            <button class="game-button" type="submit" value="@i" name="mine" *asp-controller="Game" asp-action="HandleLeftClick">
                @if (!Model.ElementAt(i).Visited)
                {
                    <img class="game-button-image" src="~/Images/field.png" />
                }
                else
                {
                    if (Model[i].State > 0)
                    {
                        <script>alert("Game Over!!!");</script>
                        <img class="game-button-image" src="~/Images/bomb.png" />
                    }
                    else
                    {
                        <img class="game-button-image" src="~/Images/hole.png" />
                    }
                }

                <div class="button-label">
                    @Model.ElementAt(i).State,
                    @Model.ElementAt(i).Neighbors,
                    @Model.ElementAt(i).Visited
                </div>
            </button>
        }
    }
</div>